#searchBar {
  font-family: "Kelly Slab", cursive, sans-serif;
}

.searchIcon {
  top: 0.8rem;
  left: 0.7rem;
  color: gainsboro;
  cursor: none;
}

.inputRow {
  grid-area: 1/1/1 / span 2;
}

.suggestionsRow {
  grid-area: 2/1/2 / span 2;
  margin-left: 3rem;
}

.instantSearchList {
  background-color: #0f0f0f;
  padding: 0.8rem 0;
  filter: drop-shadow(2px 4px 20px black);
  font-size: large;
  margin-top: 9px;
}

.autocomplete-content {
  width: calc(100% - 3rem) !important;
  background-color: #0f0f0f !important;
  filter: drop-shadow(2px 4px 20px black) !important;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: #424242 !important;
}
.autocomplete-content li .highlight {
  color: #fff !important;
}
